#main {
    background-image: url("bg.jpg");
    width: 100%;
    background-size: cover;
    height: 100px;
}

#con {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    justify-content: space-evenly;
}

#img1,
#img2,
#img3,
#img4 {
    cursor: pointer;
}